<h1 class="text-center"><%= @cocktail.name%></h1>

<div class="container">

  <% @cocktail.doses.each do |r| %>
    <p><%= r.description %> - <%= r.ingredient.name%></p>
  <% end %>
  <% if @cocktail.photo? %>
    <%= cl_image_tag @cocktail.photo.path, width: 0.5 , crop: :scale %>
  <% end %>

  <hr>
  <p><%= link_to 'Back', cocktails_path %> |
  <%= link_to 'Add Doses', new_cocktail_doses_path(@cocktail) %> </p>




</div>




