<h1 class="text-center">Add dose for <%= @cocktail.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description, placeholder: "description of dose" %>
        <%= f.label :ingredient %>
        <%= f.collection_select :ingredient_id, Ingredient.order(:name),:id,:name, include_blank: true %>
        <%= f.hidden_field :cocktail_id, :value => params[:cocktail_id]%>
        <%= f.submit "Add dose", class: "btn btn-primary" %>
    <% end %>

     <form action="/doses" method="post"></form>
     <%= link_to 'Back',  :back %>
    </div>
  </div>
</div>
